.detailContainer{
    display: flex;
    background-color:rgb(245, 245, 245) ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 10px;
    width: 100%;
    height:100%;
}

.detailWrapper{
    display: flex;
    background-color:rgb(245, 245, 245);
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 0 0 10px 10px;
}

.detail_left{
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 60%;
    padding: 20px 30px 20px 20px;
    margin-right: 20px;
    border-radius: 0 0 10px 10px;
}

.detail_right{
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    margin-left: 15px;
    padding: 20px 30px 20px 20px;
    border-radius: 0 0 10px 10px;
}

.requestDate{
    display: flex;
    padding: 20px 10px 0 10px;
    font-size: 17px;
    color: #7c7c7c;
    font-weight: bold;
    margin-bottom: 0;
}

.bookerInfo{
    height: 35%;
    margin-bottom: 20px;
}

.reservationLabel{
    display: flex;
    background-color: white;
    height: 10%;
    width: 100%;
    color: #6C6C6C;
    margin-bottom: 20px;
    border-radius: 10px 10px 0 0;
    font-size: 20px;
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}
.reservationLabel>*{
    margin:0;
}
.reservInfo{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 40px;
}

.detailLabel{
    display: flex;
    align-items: center;
    color: #6C6C6C;
    border-bottom: 1px solid #6C6C6C;
    border-radius: 10px 10px 0 0 ;
    width: 100%;
    font-size: 25px;
    font-weight: bold;
    height: 50px;
    padding: 15px;
}


.infoContent{
    display: flex;
    width: 100%;
}

.infowrap{
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* .infoLabel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
} */

.infoRow{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: flex-start;
    padding: 10px 0;
    width: 50%;
}
.infoRow_refund{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: flex-start;
    padding: 10px 0;
    width: 100%;
}
.infoRow>*{
    padding: 0;
    margin: 0;
}
.infoRow_refund>*{
    padding: 0;
    margin: 0;
}
.reservationInfo{
    display: flex;
    padding: 0;
}
.infoLabel{
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    color: #080083;
    border-radius: 50px;
    align-items: flex-start;
}
.underLine{
    border-bottom: 1px dashed #080083;
}
.dataLabel{
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    border-bottom: 1px solid #6C6C6C;
    width: 85%;
}
.dataLabel>*{
    padding:0;
    margin: 0;
    color:rgb(83, 83, 83);
    font-size: 20px;
    font-weight: bold;
}

.dataLabel_refund{
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid #6C6C6C;
    width: 80%;
}
#select{
    width: 250px;
}
select{
    margin: 0;
}
.buttons{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    width: 20%;
    box-sizing: border-box;
}
.confirmEdit{
    display: flex;
    width: 100%;
}
.quickButton{
    width: 100%;
}
.editButton{
    width: 50%;
    padding-right: 10px;
}
.deleteButton{
    width: 50%;
    padding-left: 10px;
}

.edit{
    justify-content: space-between;
    align-items: center;
    transition: color .2s ease 0s;
    background-color: #080083;
    color: white;
    
    font-size: 15px;
    font-weight: bold;
    width: 100%;
    box-shadow: 0px 2px 15px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
}

.edit:hover{
    /* background-color: white;
    border: 1px solid #080083;
    color: #080083; */
    cursor: pointer;
}
.delete{
    justify-content: space-between;
    align-items: center;
    transition: color .2s ease 0s;
    background-color: #ce3a32;
    color: white;
    font-size: 15px;
    font-weight: bold;
    width: 100%;
    box-shadow: 0px 2px 15px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
}

.delete:hover{
    background-color: #ce3a32;
    color: white;
    cursor: pointer;
}

.cancelrefund{
    justify-content: space-between;
    align-items: center;
    transition: color .2s ease 0s;
    /* /background-color: rgb(250, 116, 116); */
    background-color: #ce3a32;
    color: white;
    font-size: 15px;
    font-weight: bold;
    width: 100%;
    box-shadow: 0px 2px 15px 1px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
}

.cancelrefund:hover{
    cursor: pointer;
}

.payComplete{
    justify-content: space-between;
    align-items: center;
    transition: color .2s ease 0s;
    background-color: #080083;
    color: white;
    font-size: 15px;
    font-weight: bold;
    width: 100%;
    box-shadow: 0px 2px 15px 1px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
}

.payComplete:hover{
    background-color: #00BBFF;
    color: white;
}

.paymentEdit{
    display: flex;
    width: 100%;
    justify-content: center;
}

.refundedPayment{
    color: red;
    font-weight: bold;
}
input{
    border: none;
    font-size: 20px;
}
.modifyReservationInput{
    margin:0;
    font-weight: bold;
    font-size: 20px;
    color:#00BBFF;
}
.modifyReservationInput_date{
    margin:0;
    font-weight: bold;
    font-size: 18px;
    color:#00BBFF;
}

#payMethod{
    content: '\f078';
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 80%;
    border: none;
    border-radius: 4px;
    background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%);
    background-position:
    calc(100% - 20px) 50%,
    calc(100% - 15px) 50%,
    calc(100% - 2.5em) 50%;
    background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
    background-repeat: no-repeat;
    font-size: 20px;
}
#payMethod:hover{
    cursor: pointer;
}

#paymentStatus{
    content: '\f078';
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 80%;
    border: none;
    border-radius: 4px;
    background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%);
    background-position:
    calc(100% - 20px) 50%,
    calc(100% - 15px) 50%,
    calc(100% - 2.5em) 50%;
    background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
    background-repeat: no-repeat;
    font-size: 20px;
}
#paymentStatus:hover{
    cursor: pointer;
}

.editReservationComplete{
    justify-content: space-between;
    align-items: center;
    transition: color .2s ease 0s;
    background-color: #080083;
    border:none;
    color: white;
    font-size: 15px;
    font-weight: bold;
    width: 100%;
    /* box-shadow: 0px 2px 15px 1px rgba(0, 0, 0, 0.1); */
    border:none;
    border-radius: 10px;
    margin-right: 10px;
    padding: 20px 10px;
}

.editReservationComplete:hover{
    background-color: #080083;
    border:none;
    color: white;
    cursor: pointer;
}
.cancelEdit{
    justify-content: space-between;
    align-items: center;
    transition: color .2s ease 0s;
    background-color: #7c7c7c;
    border:none;
    color: white;
    font-size: 15px;
    font-weight: bold;
    width: 100%;
    /* box-shadow: 0px 2px 15px 1px rgba(0, 0, 0, 0.1); */
    border:none;
    border-radius: 10px;
    margin: 10px;
    padding: 20px 10px;
}

.cancelEdit:hover{
    cursor: pointer;
}