.modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .modal button {
    outline: none;
    cursor: pointer;
    border: 0;
  }
  .modal > section {
    width: 30%;
    min-width: 500px;
    min-height: 60%;
    max-height: 95%;
    margin: 0 auto;
    padding: 15px;
    border-radius: 8px;
    background-color: #fff;
    animation: modal-show 0.3s;
    overflow-y: scroll;
  }
  .close{
    position: relative;
    /* left: 150px;; */
  }
  .modal>section::-webkit-scrollbar {
        width: 8px;
        scroll-behavior: smooth;
        border-radius: 40px;
        padding: 0;
    }
  .modal>section::-webkit-scrollbar-track {
  }
  .modal>section::-webkit-scrollbar-thumb {
      background-color: #080083;
  }



  .modal > section > header {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 0 20px;
    background-color: transparent;
    color: #080083;
    font-size: 25px;
    font-weight: bold;
  }
  .modal > section > main {
    flex: 1 0 300px;
    justify-content: center;
    padding: 20px;
  }

  .submit{
    padding: 6px 12px;
    color: #fff;
    background-color: #080083;
    border-radius: 5px;
    font-size: 13px;
    margin-top: 10px;;
    margin-right: 10px;
  }
  .modal.openModal {
    display: flex;
    align-items: center;
    /* 팝업이 열릴때 스르륵 열리는 효과 */
    animation: modal-bg-show 0.3s;
  }
  @keyframes modal-show {
    from {
      opacity: 0;
      margin-top: -50px;
    }
    to {
      opacity: 1;
      margin-top: 0;
    }
  }
  @keyframes modal-bg-show {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }